
/* font families */
$ff-poppins:'Poppins', sans-serif;

/* font weight */
$fw-regular:500;
$fw-bold:700;

/* font sizes */
$fs-small:0.9rem;
$fs-regular:1rem;
$fs-medium:1.5rem;
$fs-large:2rem;
$fs-xl:2.5rem;

/* colors */
$turquoise:hsl(179, 67%, 49%);
$white:hsl(0,0%,100%);
$athens-gray:hsl(230, 25%, 95%);
$dew:hsl(180, 100%, 96%);
$cyan: hsl(180, 66%, 49%);
$dark-violet:hsl(257,27%,26%);
$red: hsl(0,87%,67%);
$gray:hsl(0,0%,75%);
$grayish-violet:hsl(257,7%,63%);
$very-dark-blue:hsl(255,11%,22%);
$very-dark-violet:hsl(260,8%,14%);

/* spacing */
$s-small:1rem;
$s-regular:1.5rem;
$s-medium:2.5rem;
$s-large:5rem;
$s-xl:10rem;
